<p id="notice"><%= notice %></p>

<p>
  <strong>Child:</strong>
  <%= @attendance.child %>
</p>

<p>
  <strong>Date:</strong>
  <%= @attendance.date %>
</p>

<p>
  <strong>Present:</strong>
  <%= @attendance.present %>
</p>

<p>
  <strong>Health:</strong>
  <%= @attendance.health %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
